@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Bebas Neue", sans-serif;
  --font-mono: "DM Mono", monospace;
  --color-background: #090909;
  --color-surface: #111111;
  --color-border-custom: #1e1e1e;
  --color-accent: #FF5F1F;
}

@layer base {
  body {
    @apply bg-background text-white font-mono;
  }
}
